<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title th:text="${titulo}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="mx-auto" style="width: 80%;">
    <h1 class="text-primary" th:text="${titulo}"></h1>
    <form th:action="@{/subir-documento}" th:object="${documento}" class="row g-3 needs-validation" novalidate method="POST">
      <div class="form-group">
		<div class="mb-3">
			<input class="form-control form-control-sm" id="formFileSm" type="file">
		  </div>
		  <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Busacar.." th:field="*{users}" id="users" aria-label="Default select example">
			<!-- <option value>Open this select menu</option> -->
			<option th:each="usuario : ${usuarios}"
                                th:value="${usuario}"
                                th:text="${usuario.name} + ' ' + ${usuario.lastname}">pizza
                        </option>
		  </select>
		  <br>
      <div class="flex">
        <button class="btn btn-secondary" align="left" onClick="history.back()">Cancelar</button>
        <button class="btn btn-primary" align="right" type="submit">Guardar</button>
      </div>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{createDate}"/>
    </form>
  </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<!-- Bootstrap Multiselect CSS -->
<link rel="stylesheet" href="css/bootstrap-multiselect.css">

<!-- Bootstrap Multiselect JS -->
<script data-main="dist/js/" src="js/require.min.js"></script>