<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title th:text="${titulo}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="mx-auto" style="width: 80%;">
    <h1 class="text-primary" th:text="${titulo}"></h1>
    <form th:action="@{/crear-usuario}" th:object="${usuario}" class="row g-3 needs-validation" validate method="POST">
      <div class="form-group">
        <label for="validationTooltipName" class="form-label">Nombre</label>
        <input th:field="*{name}" type="text" class="form-control" id="validationTooltipName" required/>
        <div class="valid-tooltip">
          Correcto!
        </div>
        <div class="invalid-tooltip">
          No puede estar vacío.
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="validationTooltipLastname" class="form-label">Apellido</label>
        <input th:field="*{lastname}" type="text" class="form-control" id="validationTooltipLastname" required/>
        <div class="valid-tooltip">
          Correcto!
        </div>
        <div class="invalid-tooltip">
          No puede estar vacío.
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="validationTooltipEmail" class="form-label">Email</label>
          <input th:field="*{email}" type="email" class="form-control" id="validationTooltipEmail" required/>
          <div class="valid-tooltip">
            Correcto!
          </div>
          <div class="invalid-tooltip">
            No puede estar vacío.
          </div>
      </div>
      <div class="flex">
        <button class="btn btn-secondary" align="left" onClick="history.back()">Cancelar</button>
        <button class="btn btn-primary" align="right" type="submit">Guardar</button>
      </div>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{createDate}"/>
    </form>
  </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
