<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title th:text="${titulo}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="modal" id="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modal-content">
            <p>Modal body text goes here.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <a
              href="/"
              class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            >
              <span class="fs-5 d-none d-sm-inline">Gestor de Documentos</span>
            </a>
            <ul
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                  <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
              </li>
              <li>
                <a
                  th:href="@{/listar-documentos}"
                  class="nav-link px-0 align-middle"
                >
                  <span class="ms-1 d-none d-sm-inline">Documentos</span></a
                >
              </li>
              <li>
                <a
                  th:href="@{/listar-usuarios}"
                  class="nav-link px-0 align-middle"
                >
                  <span class="ms-1 d-none d-sm-inline">Usuarios</span>
                </a>
              </li>
            </ul>
            <hr />
            <div class="dropdown pb-4">
              <a
                href="#"
                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="https://github.com/mdo.png"
                  alt="hugenerd"
                  width="30"
                  height="30"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">User</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col py-3">
          <h1 class="text-primary" th:text="${titulo}"></h1>
          <div class="flex">
            <a
              type="button"
              class="btn btn-sm btn-outline-success"
              th:href="@{/subir-documento}"
              id="btn-nuevo"
              >nuevo</a
            >
            <div class="p-3 border bg-light">
              <table class="table table-striped">
                <div class="table-responsive">
                  <table class="table table-hover align-middle text-center">
                    <thead>
                      <tr>
                        <th scope="col">nombre</th>
                        <th scope="col">fecha subida</th>
                        <th scope="col">tipo</th>
                        <th scope="col">owner</th>
                        <th scope="col">grupo usuarios</th>
                        <th scope="col">documento</th>
                        <th scope="col">action</th>
                        <!-- <th scope="col">action</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="documento: ${documentos}">
                        <td th:text="${documento.name}"></td>
                        <td th:text="${documento.createDate}"></td>
                        <td th:text="${documento.type.type}"></td>
                        <td
                          th:text="${documento.idUser.name + ' ' + documento.idUser.lastname}"
                        ></td>
                          <!-- <tr th:each="usuario: ${documento.users}"> -->
                            <td
                              th:text="${documento.strUsers}"
                            ></td>
                        <td
                          th:text="${documento.url}"
                          class="text-truncate"
                          style="max-width: 150px"
                        ></td>
                        <td>
                          <div class="btn-group" role="group">
                            <button
                              type="button"
                              class="btn btn-sm btn-outline-primary"
                              onclick="location.href='#'"
                            >
                              editar
                            </button>
                            <button
                              type="button"
                              class="btn btn-sm btn-outline-danger"
                              onclick="location.href='#'"
                            >
                              borrar
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#btn-nuevo").click(function (e) {
      e.preventDefault();
      $.get($(this).attr("href"), {}, function (data) {
        $("#modal-content").html(data);
        $("#modal").modal("show");
      });
    });

    $("#btn-editar").click(function (e) {
      e.preventDefault();
      $.get($(this).attr("href"), {}, function (data) {
        $("#modal-content").html(data);
        $("#modal").modal("show");
      });
    });
  });
</script>